header {
    height: 8.0rem;
    width: 100%;
    border: 1px solid black;
}

nav {
    height: 2.0rem;
    width: 100%;
    border: 1px solid red;
}

main {
    display: flex;
    flex-direction: row;
    height: 40rem;
}

.left {
    flex-basis: 30%;
}

.slideshow-container {
    flex-basis: 70%;
}

footer {
    height: 2.0rem;
    width: 100%;
    border: 1px solid red;
}
