
body {
    min-height: 100%;
    margin: 0rem;
}

header {
    outline: black solid 1px;
    background: hsl(180, 80%, 90%);
    height: 8rem;
    max-height: 8rem;
}

main {
    background: hsl(180, 100%, 50%);
    outline: black solid 1px;
    height: 100rem;
    max-height: 100rem;
}

footer {
    outline: black solid 1px;
    background: hsl(180, 100%, 25%);
    height: 6rem;
    max-height: 6rem;
}
