body {
    display: grid;
    height: 100vh;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.2fr 2fr 0.2fr;
    grid-template-areas: "header header header header header"
                         "nav nav nav nav nav"
                         "main main slideshow slideshow slideshow"
                         "footer footer footer footer footer"
}

header {
    border: 1px solid black;
    background: hsl(180, 80%, 90%);
    grid-area: header;
}

nav {
    border: 1px solid black;
    background: hsl(180, 100%, 80%);
    grid-area: nav;
}

main {
    background: hsl(180, 100%, 50%);
    border: 1px solid black;
    grid-area: main;
}

.slideshow-container {
    background: hsl(180, 100%, 40%);
    border: 1px solid black;
    grid-area: slideshow;
}

footer {
    border: 1px solid black;
    background: hsl(180, 100%, 25%);
    grid-area: footer;
}
